.button {
  margin-right: var(--spacing-ratios-08);
  margin-bottom: var(--spacing-ratios-12);
}

.button:last-child {
  margin-right: 0;
}

.button--active {
  color: var(--color-primary);
  background-color: var(--gray-scale-2);
}
