html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--color-primary);
  font-size: 62.5%; /* Now 10px = 1rem! */
  color: var(--gray-scale-1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #f8f5ee;
  --gray-scale-1: #1c1c1c;
  --gray-scale-2: #000000;
  --gray-scale-3: #3b3b3b;

  --font-size-13: 1.3rem;

  --spacing-ratios-08: 0.8rem;
  --spacing-ratios-12: 1.2rem;
  --spacing-ratios-24: 2.4rem;
  --spacing-ratios-48: 4.8rem;
  --spacing-ratios-80: 8rem;

  --breaking-point-sm: 375px;
  --breaking-point-md: 768px;
  --breaking-point-lg: 1024px;
}
